@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-search-input
*/
$block: #{$fd-namespace}-search-input;

$fd-search-closed-control-control-width: 36px !default;
$fd-search-closed-control-body-base-width: 300px !default;
$fd-search-closed-control-body-full-width: $fd-search-closed-control-control-width + $fd-search-closed-control-body-base-width !default;
$fd-search-closed-control-transition: all $fd-animation--speed !default;

.#{$block} {

  &__control {
    position: relative;
  }

  & .fd-popover {
    display: block;

    &__body {
      width: 100%;
    }
  }

  &--collapsable {
    display: inline-block;

    & .fd-input-group {
      display: inline-block;
      position: relative;
      @include fd-var-size("height", $fd-forms-height, --fd-forms-height);
      @include fd-var-size("max-height", $fd-forms-height, --fd-forms-height);
      @include fd-var-size("min-width", $fd-forms-height, --fd-forms-height);
    }
    & .fd-input-group--after input[type=text] {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: map-get($fd-z-index-levels, "first");
      width: $fd-search-closed-control-body-base-width;
    }
    & .fd-input-group__addon--after,
    & .fd-input-group__addon:last-child {
      background: fd-color("background", 2);
    }
    & .fd-input-group__addon--button [class*="fd-button"] {
      border-radius: $fd-border-radius;
      --fd-button-background-color: transparent;
      --fd-button-color: var(--fd-color-action-1);
      --fd-button-border-color: transparent;
      @include fd-var-color("background-color", transparent);
      @include fd-var-color("color", fd-color("action", 1));
      @include fd-var-color("border-color", transparent);

      @include fd-hover {
        --fd-button-background-color: transparent;
        @include fd-var-color("background-color", transparent);
      }

      @include fd-selected {
        --fd-button-background-color: transparent;
        --fd-button-color: var(--fd-color-action-1);
        @include fd-var-color("background-color", transparent);
        @include fd-var-color("color", fd-color("action", 1));
      }
    }
    & .fd-popover__body {
      width: $fd-search-closed-control-body-full-width;
      left: -$fd-search-closed-control-body-base-width;
    }
  }

  &.is-collapsed {
    & .fd-input-group--after input[type=text] {
      display: none;
    }
    & .fd-input-group__addon--after,
    & .fd-input-group__addon:last-child {
      border-style: solid;
      border-width: 1px;
      border-color: $fd-forms-border-color;
      border-radius: $fd-border-radius;
    }
  }
}
